<%- include('layout/header') %>

<div class="container">
    <div class="row my-4">
        <div class="col-lg-6 mx-100 mx-auto shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card shadow">
                <div class="card-header bg-success">
                    <h4 class="text-light">Add New Employee</h4>
                </div>
            </div>
            <div class="card-body p-3">
                <form action="/add" method="post" id="add-form" enctype="multipart/form-data">
                    <div class="mb-2">
                        <label for="name">Name</label>
                        <input type="text" name="name" class="form-control form-control-lg" 
                         required />
                    </div>
                    <div class="mb-2">
                        <label for="email">Email</label>
                        <input type="text" name="email" class="form-control form-control-lg" 
                         required />
                    </div>
                    <div class="mb-2">
                        <label for="department">Department</label>
                        <input type="text" name="department" class="form-control form-control-lg" 
                         required />
                    </div>
                    <div class="mb-2">
                        <label for="employeeStatus">Current Employee Status</label>
                        <input type="text" name="employeeStatus" class="form-control form-control-lg" 
                         required />
                    </div>
                    </div>
                    <div class="mb-3">
                        <label for="file" class="form-label">Attach a File</label>
                        <input class="form-control form-control-lg" type="file" name="file" required>
                    </div>
                    <div class="mb-3 d-grid">
                        <input type="submit" name="submit" value="Submit" class="btn btn-success btn-lg" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('layout/footer') %>